@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
select {
  border: none;
  outline: none;
  background: none;
}

body {
  color: #45474b;
  height: 100vh;
  max-height: -moz-max-content;
  max-height: max-content;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.c-ac1 {
  color: #bc131f;
}

.c-ac2 {
  color: #ffffff;
}

.c-ac3 {
  color: #151515;
}

.bg-ac1 {
  background-color: #bc131f;
}

.bg-ac2 {
  background-color: #ffffff;
}

.bg-ac3 {
  background-color: #151515;
}

.border-ac1 {
  border: 1px solid #bc131f;
}

.border-ac2 {
  border: 1px solid #ffffff;
}

.border-ac3 {
  border: 1px solid #151515;
}

.btn-primary {
  white-space: nowrap;
  color: #ffffff;
  background-color: #bc131f;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 20px;
  border: 1px solid transparent;
  transition: all 0.2s ease-in;
}
@media (hover: none) {
  .btn-primary:active {
    transition: all 0.2s ease-out;
    background-color: transparent;
    border: 1px solid #bc131f;
    color: #bc131f;
  }
}
@media (hover: hover) {
  .btn-primary:hover {
    transition: all 0.2s ease-out;
    background-color: transparent;
    border: 1px solid #bc131f;
    color: #bc131f;
  }
}

.btn-outline {
  white-space: nowrap;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #bc131f;
  transition: all 0.2s ease-in;
  color: #bc131f;
}
@media (hover: none) {
  .btn-outline:active {
    border: 1px solid transparent;
    transition: all 0.2s ease-out;
    color: #ffffff;
    background-color: #bc131f;
  }
}
@media (hover: hover) {
  .btn-outline:hover {
    border: 1px solid transparent;
    transition: all 0.2s ease-out;
    color: #ffffff;
    background-color: #bc131f;
  }
}

.btn-box-primary {
  white-space: nowrap;
  color: #ffffff;
  background-color: #bc131f;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 0.2s ease-in;
}
@media (hover: none) {
  .btn-box-primary:active {
    transition: all 0.2s ease-out;
    background-color: transparent;
    border: 1px solid #bc131f;
    color: #bc131f;
  }
}
@media (hover: hover) {
  .btn-box-primary:hover {
    transition: all 0.2s ease-out;
    background-color: transparent;
    border: 1px solid #bc131f;
    color: #bc131f;
  }
}

.btn-box-outline {
  white-space: nowrap;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #bc131f;
  transition: all 0.2s ease-in;
  color: #bc131f;
}
@media (hover: none) {
  .btn-box-outline:active {
    border: 1px solid transparent;
    transition: all 0.2s ease-out;
    color: #ffffff;
    background-color: #bc131f;
  }
}
@media (hover: hover) {
  .btn-box-outline:hover {
    border: 1px solid transparent;
    transition: all 0.2s ease-out;
    color: #ffffff;
    background-color: #bc131f;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #2c3e50, #101010);
}

.container {
  display: flex;
  width: 900px;
  height: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
}
.container .left-section,
.container .right-section {
  padding: 40px;
}
.container .left-section {
  width: 50%;
  background-color: #eef2f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .left-section .logo {
  display: flex;
  align-items: center;
}
.container .left-section .logo img {
  width: 40px;
  margin-right: 10px;
}
.container .left-section .logo h1 {
  font-weight: 600;
  margin: 0;
}
.container .left-section h2 {
  font-size: 28px;
  margin: 20px 0 10px;
}
.container .left-section p {
  font-size: 14px;
  margin-bottom: 30px;
}
.container .left-section form .input-group {
  margin-bottom: 20px;
  position: relative;
}
.container .left-section form .input-group i {
  display: none;
}
.container .left-section form .input-group i:hover {
  display: block;
}
.container .left-section form .input-group input {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  cursor: pointer;
}
.container .left-section form .input-group input:focus {
  border: 2px solid black;
}
.container .left-section form .input-group input:hover + i {
  display: block;
}
.container .left-section form .input-group i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.container .left-section form .forgot-password {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 12px;
  text-decoration: none;
  color: #2c3e50;
}
.container .left-section form .sign-in-btn {
  width: 100%;
  padding: 15px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}
.container .left-section form .or-continue {
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
  color: #888;
}
.container .left-section form .google-sign-in-btn {
  width: 100%;
  padding: 15px;
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.container .left-section form .google-sign-in-btn img {
  width: 20px;
  margin-right: 10px;
}
.container .left-section .sign-up-text {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}
.container .left-section .sign-up-text a {
  text-decoration: none;
  color: #2c3e50;
}
.container .right-section {
  width: 50%;
  background-color: #101010;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 0px 0px;
}
.container .right-section .img_login img {
  width: 200px;
  margin-bottom: 20px;
  border-radius: 16px;
}
.container .right-section h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.container .right-section p {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #2c3e50, #101010);
}

.container {
  display: flex;
  width: 900px;
  height: 550px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
}
.container .left-section,
.container .right-section {
  padding: 40px;
}
.container .left-section {
  width: 50%;
  background-color: #eef2f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .left-section .logo {
  display: flex;
  align-items: center;
}
.container .left-section .logo img {
  width: 40px;
  margin-right: 10px;
}
.container .left-section .logo h1 {
  font-weight: 600;
  margin: 0;
}
.container .left-section h2 {
  font-size: 28px;
  margin: 20px 0 10px;
}
.container .left-section p {
  font-size: 14px;
  margin-bottom: 30px;
}
.container .left-section form .input-group {
  margin-bottom: 20px;
  position: relative;
}
.container .left-section form .input-group input {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  cursor: pointer;
}
.container .left-section form .input-group input:focus {
  border: 2px solid black;
}
.container .left-section form .input-group i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.container .left-section form .forgot-password {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 12px;
  text-decoration: none;
  color: #2c3e50;
}
.container .left-section form .sign-in-btn {
  width: 100%;
  padding: 15px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}
.container .left-section form .or-continue {
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
  color: #888;
}
.container .left-section form .google-sign-in-btn {
  width: 100%;
  padding: 15px;
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.container .left-section form .google-sign-in-btn img {
  width: 20px;
  margin-right: 10px;
}
.container .left-section .sign-up-text {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}
.container .left-section .sign-up-text a {
  text-decoration: none;
  color: #2c3e50;
}
.container .right-section {
  width: 50%;
  background-color: #101010;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 0px 0px;
}
.container .right-section .img_login img {
  width: 200px;
  margin-bottom: 20px;
  border-radius: 16px;
}
.container .right-section h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.container .right-section p {
  font-size: 14px;
}/*# sourceMappingURL=styles.css.map */