$xs: 0.25rem;
$sm: 0.5rem;
$md: 0.75rem;
$lg: 1rem;
$xl: 1.25rem;
$xxl: 1.5rem;
$xxxl: 2rem;

$theme-accent1: #bc131f;
$theme-accent2: #ffffff;
$theme-accent3: #151515;
$text-color-dark: #45474b;
$text-color: #ffffff;
$text-color-grey: #888;
$outline-border-color: #d8d9da;
$box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
$transition: 0.2s ease-in-out;
